html
  header
    title 404
    link(rel="stylesheet" href="/css/style.css")
  body.page-not-found
    div.home-page-btn-container
      button.home-page-btn
        a(href=`/messages`) Home
    h1.msg-not-found Your message has been destroyed!

