html
  header
    meta(charset="UTF=8")
    title &#x1F4A3 Message
    link(rel="stylesheet" href="../style.scss")
  body
    h1.main-title Welcome Back Agent!
    div.form-container
      form.post-msg-form(href="/messages" method="POST")
        label Send &#x1F4A3 Message
        textarea.post-msg-box(name="message" placeholder='Enter new message here' rows="6" cols="50")
        button.post-btn Send
    div.all-msg
      - console.log(message)
      if (!message.length)
        h2 You currently have no messages.
      else
        h2 Messages:
          div.msg-container
            script
            ul
              each msg in messages
                ol
                  //- TODO add icon to hide message; message can be read only when opened
                  a(href=`/messages/${msg._id}`) #{msg.message}

