html
  header
    meta(charset="UTF=8")
    title &#x1F4A3 Message
    link(rel="stylesheet" href="/css/style.css")
    script(src="/js/script.js")

  body
    h1.page-title Welcome Back Agent!
    div.post-form-container
      form.post-form(href="/messages" method="POST")
        label
          h3.post-sender-label Agent Name:
          textarea.post-sender-val(type="number" name="sender" placeholder="Enter name" rows="1" cols="50" maxlength="20" required)
        label
          h3.post-msg-label Message:
          textarea.post-msg-val(name="message" placeholder="Enter new message" rows="6" cols="50" maxlength="100" required)
        div.post-btn-container
          button.post-btn(value="Send Request" onclick="submitForm()") Send

    div.msg-container
      if (!data.length)
        h2.msg-title Inbox:
          h2.msg-empty You currently have no messages.
      else
        h2.msg-title Inbox:
        div.msg-list
          ul
            each msgData in data
              li
                div
                  p Sender: #{msgData.sender}
                  p Time: #{msgData.created_at}
                button.view-msg-btn
                  a(href=`/messages/${msgData._id}`) View


