html
  head
    title Secret Msg
    //- link(rel="stylesheet" href="../style.scss")
  body
    //- if empty
      //bring to page - does not exist

    //- else
      // show message
    h1 Message:
    //- #{ console.log("json", JSON.stringify(deletedMessage)) }
    h2 #{deletedMessage.message}