html
  header
    title Secret Msg
    link(rel="stylesheet" href="/css/style.css")
  body
    div.home-page-btn-container
      button.home-page-btn
        a(href=`/messages`) Home
    div.viewMsg-container
      h2.viewMsg-title Message:
      h3.viewMsg-msg #{deletedMessage}
    p.viewMsg-notice This message will self-destruct.

